.contact .header-content{
    color: #c88a40;
    font-size: 7rem;
    font-weight: 800;
}
.contact .data input{
    border-radius: 2rem;
    background-color: #ffd39f; 
    border: 0;
    font-weight: 700;
}
.contact .data button{
    font-weight: 700;
}

.contact .data .btn-send{
    border: 2px solid  #c88a40;
    border-radius: 3rem;
    color: black;
    padding: 0.5rem 2.5rem;

}
.contact .data .btn-send:hover{
    background-color: transparent;
}
.contact .error{
    color: red;
}