.header {
    background-image: url(../../img/Rectangle\ 274.png);
    /* background-image: linear-gradient(to right, #c88a40 60% , #fff 40%); */

}

.header .text {
    color: #fff;
    font-weight: 500;
}

.w-80 {
    width: 80%;
}